EXPO_PUBLIC_APPWRITE_ENDPOINT=https://cloud.appwrite.io/v1
EXPO_PUBLIC_APPWRITE_PROJECT_ID=6a921fef001e644048b0
EXPO_PUBLIC_APPWRITE_DATABASE_ID=push_notifications
EXPO_PUBLIC_APPWRITE_USERS_COLLECTION_ID=users
EXPO_PUBLIC_APPWRITE_DEVICE_TOKENS_COLLECTION_ID=device_tokens
EXPO_PUBLIC_APPWRITE_NOTIFICATION_JOBS_COLLECTION_ID=notification_jobs
EXPO_PUBLIC_APPWRITE_NOTIFICATION_RECIPIENTS_COLLECTION_ID=notification_recipients
EXPO_PUBLIC_APPWRITE_NOTIFICATION_RECEIPTS_COLLECTION_ID=notification_receipts
EXPO_PUBLIC_APPWRITE_FANOUT_FUNCTION_ID=notification-fanout
EXPO_PUBLIC_APPWRITE_SUPPORT_FUNCTION_ID=notification-support
